@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-yellow-section {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #fff7cc 20%,
    #ffe766 45%,
    #ffe766 50%,
    #ffe766 55%,
    #fff7cc 80%,
    #ffffff 100%
  );
}


